.DS_Store
node_modules/
dist/
examples/
docs/
src/
package.json
rollup.config.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.gitignore
.eslintrc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
